body {
    font-family: 'Funnel Display';
    background-image: url("../images/home/bgn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
    min-height: 100vh;
}

.navbar {
    display: flex;
    gap: 50px;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#nav-logo {
    width: 170px;
    margin: 10px 120px 0px 120px;
    filter: brightness(0%);
}

#nav-profile, #nav-calendar, #nav-register, #nav-login, #nav-logout, #welcome {
    background-color: #def9ff;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
    width: 200px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

#nav-profile:hover, #nav-calendar:hover, #nav-register:hover, #nav-login:hover, #nav-logout:hover {
    background-color: #93ebff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

#form-logo {
    filter: brightness(0%);
    margin: 40px 50px 500px 50px;
}

#main-form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #def9ff;
    padding: 40px;
    margin-left: 45vw;
    width: 500px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

#dropdown-countries, #budget-input{
    width: 480px;
    box-sizing: border-box; 
    border-radius: 5px;
    height: 35px;
    font-size: 15px;
    padding-left: 10px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #c1f4ff;
    margin-bottom: 30px;
    font-family: 'Funnel Display';
}

#dropdown-countries {
    position: relative;
}

.selected {
    padding: 10px 5px;
    cursor: pointer;
}

.options {
    display: none;
    position: absolute;
    width: 100%;
    background: #c1f4ff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    left: 0;
}

.options::-webkit-scrollbar {
    background-color: #eefbfe;
    border-radius: 10px;
    margin-left: 10px;
}

.options::-webkit-scrollbar-thumb {
    background-color: #b1e6f1;
    border-radius: 10px;
    border: #eefbfe 3px solid;
    width: 50%;
}

.option {
    padding: 3px;
    cursor: pointer;
}

.option:hover {
    background: #b0ebf9;
}

#budget-input {
    padding-left: 15px;
}

.date-input {
    display: flex;
    box-sizing: border-box; 
    gap: 60px;
}

#date-input {
    width: 200px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #c1f4ff;
    margin-bottom: 30px;
    font-family: 'Funnel Display';
}

#form-logo {
    width: 180px;
    margin-bottom: 50px;
}

#form-search {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #8aeaff;
    margin-top: 20px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Funnel Display';
}

#form-search:hover {
    cursor: pointer;
    background-color: #6ce4ff;
}