body {
    font-family: 'Funnel Display';
    background-image: url("../images/result/bg.png");
    background-size: cover;
}

.navbar {
    display: flex;
    gap: 50px;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#nav-logo {
    width: 10vw;
    margin: 10px 120px 0px 120px;
    filter: brightness(0%);
}

#nav-profile, #nav-calendar, #nav-register, #nav-login, #nav-logout, #welcome {
    background-color: #def9ff;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
    width: 200px;
}

#nav-profile:hover, #nav-calendar:hover, #nav-register:hover, #nav-login:hover, #nav-logout:hover {
    background-color: #93ebff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



.main-section {
    display: flex;
    margin-top: 40px;
    gap: 5vw;
}

.user-profile {
    display: flex;
    align-items: center;
    width: 35vw;
    height: 25vh;
    margin-left: 4vw;
    background-color: #eefbfe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

p {
    margin: 0px;
}

#profile-img {
    border-radius: 200px;
    margin: 0px 2vw;
    width: 20vh;
}

h2 {
    margin: 0px;
}

#profile-username {
    font-size: 40px;
    margin-top: 1vh;
}



.itinerary {
    display: flex;
    background-color: #eefbfe;
    width: 48vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#itinerary-img {
    width: 20vh;
    border-radius: 10px;
    margin-right: 2vw;
}

.itinerary-title {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    margin-top: 15px;
}

#itinerary-location {
    font-size: 40px;
}

h4 {
    margin: 0px;
}

.fa {
    font-size: 25px !important; 
}

.fa:hover {
    cursor: pointer;
}