body {
    font-family: 'Funnel Display';
    background-image: url("../images/result/bg.png");
    background-size: cover;
}

.navbar {
    display: flex;
    gap: 50px;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#nav-logo {
    width: 10vw;
    margin: 10px 120px 0px 120px;
    filter: brightness(0%);
}

#nav-profile, #nav-calendar, #nav-register, #nav-login, #nav-logout, #welcome {
    background-color: #def9ff;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
    width: 200px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

#nav-profile:hover, #nav-calendar:hover, #nav-register:hover, #nav-login:hover, #nav-logout:hover {
    background-color: #93ebff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



.main-section {
    display: flex;
    gap: 5vw;
}

.user-profile {
    display: flex;
    align-items: center;
    width: 35vw;
    height: 25vh;
    margin: 40px 0px 5vh 4vw;
    background-color: #eefbfe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

p {
    margin: 0px;
}

#profile-img {
    border-radius: 200px;
    margin: 0px 2vw;
    width: 20vh;
}

#profile-img:hover {
    cursor: pointer;
    filter: brightness(80%);
}

h2 {
    margin: 0px;
}

#profile-username {
    font-size: 2vw;
    margin-top: 1vh;
    margin-bottom: 2px;
}

#date-login, #date-joined {
    color: rgb(109, 109, 109);
    font-size: 0.8vw;
}

#date-joined {
    margin-bottom: 10px;
}

#profile-itinerary-count {
    font-weight: 550;
    font-size: 1vw;
}

#img-form {
    display: none;
}


.calendar {
    background-color: #eefbfe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 35vw;
    height: 50vh;
    margin-left: 4vw;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.calendar::-webkit-scrollbar {
    background-color: #eefbfe;
    border-radius: 10px;
    margin-left: 10px;
}

.calendar::-webkit-scrollbar-thumb {
    background-color: #b1e6f1;
    border-radius: 10px;
    border: #eefbfe 3px solid;
    width: 50%;
}

.month {
    display: flex;
}

#month-header {
    padding-left: 15px;
    border-bottom: 2px solid #daeaee;
    width: 92%;
    margin: 10px auto;
}

.calendar-itinerary {
    display: flex;
    align-items: center;
    background-color: #cbf5ff;
    border-radius: 10px;
    width: 35%;
    height: 55px;
    margin-left: 15px;
}

#calendar-img {
    border-radius: 10px;
    width: 2vw;
    height: 2vw;
    margin: 0px 5px;
}

h3 {
    margin: 0px;
}

#calendar-title {
    font-size: 16px;
}

#calendar-dates {
    font-size: 12px;
}



.user-itineraries {
    height: 80vh;
    width: 51.5vw;
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 10px 0px 10px 10px;
}

.user-itineraries::-webkit-scrollbar {
    background-color: #eefbfe;
    border-radius: 10px;
    margin-left: 10px;
}

.user-itineraries::-webkit-scrollbar-thumb {
    background-color: #b1e6f1;
    border-radius: 10px;
    border: #eefbfe 3px solid;
    width: 50%;
}

.itinerary {
    display: flex;
    background-color: #eefbfe;
    width: 48vw;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.itinerary:last-child {
    margin-bottom: 0px;
}

#itinerary-img {
    width: 20vh;
    border-radius: 10px;
    margin-right: 2vw;
}

.itinerary-title {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    margin-top: 15px;
}

#itinerary-location {
    font-size: 2.3vw;
}

#itinerary-location:hover {
    cursor: pointer;
}

h4 {
    margin: 0px;
}

.fa {
    font-size: 25px !important; 
}

.fa:hover {
    cursor: pointer;
}

.itinerary-details {
    margin: 10px 0px 0px 20px
}

.itinerary-details > * {
    margin-bottom: 5px;
    font-size: 1vw;
}



.itinerary-activities {
    display: none;
    position: fixed;
    background-color: #eefbfe;
    margin: 0px 35vw;
    z-index: 10;
    top: 20vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 30px;
}

.activities-header {
    display: flex;
    margin-bottom: 3vh;
    font-size: 20px;
    justify-content: space-between;
}

#title-placeholder {
    visibility: hidden;
}

#exit-btn:hover {
    cursor: pointer;
}

.activities {
    height: 45vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 10px;
}

.activities::-webkit-scrollbar {
    background-color: #eefbfe;
    border-radius: 10px;
    margin-left: 10px;
}

.activities::-webkit-scrollbar-thumb {
    background-color: #b1e6f1;
    border-radius: 10px;
    border: #eefbfe 3px solid;
    width: 50%;
}

.activity {
    display: flex;
    width: 28vw;
    padding: 12px;
    background-color: #cbf5ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.activity:last-child {
    margin-bottom: 0px;
}

#activity-img {
    width: 5.5vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-right: 1vw;
}

#activity-header {
    font-size: 26px;
    margin: 10px 0px 5px 0px;
}

#activity-desc {
    font-size: 22px;
}