body {
    font-family: 'Funnel Display';
    background-image: url("../images/result/bg.png");
    background-size: cover;
}

/* Start of Navbar */

.navbar {
    display: flex;
    gap: 50px;
    width: 95%;
    margin: auto;
    margin-top: 25px;
    align-items: center;
}

#nav-logo {
    width: 120px;
}

#nav-profile, #nav-calendar, #nav-register, #nav-login {
    background-color: #def9ff;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
    width: 200px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

#nav-profile:hover, #nav-calendar:hover, #nav-register:hover, #nav-login:hover {
    background-color: #93ebff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#search-bar {
    border-radius: 30px;
    outline: none;
    border: none;
    width: 500px;
    height: 15px;
    margin: 0px 55px 0px 55px;
    padding: 20px;
    font-size: 25px;
    background-color: #def9ff;
    color: black;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

/* End of Navbar */

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 87.5vh;
}


/* Start of Left Section */

.left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}

#filter-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#eefbfe;
    border-radius: 10px;
    margin: 25px 0.5% 20px 0.5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#filter-title {
    font-size: 35px;
    margin: 35px 0px 10px 0px;
}

#dropdown {
    width: 80%;
    height: 40px;
    margin: 25px auto 25px auto;
    border: #acf0ff 1px solid;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    background-color: #def9ff;
}

#dropdown:focus {
    border-radius: 10px 10px 0px 0px;

}

.price-filter {
    display: flex;
    gap: 15px;
}

#price-dropdown-left, #price-dropdown-right {
    width: 38%;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: #acf0ff 1px solid;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    background-color: #def9ff;
}

#price-dropdown-left {
    margin-left: auto;
}

#price-dropdown-right {
    margin-right: auto;
}

#submit-btn {
    width: 40%;
    height: 40px;
    margin: 10px auto 40px auto;
    border: #acf0ff 1px solid;
    border-radius: 20px;
    background-color: #def9ff;
    font-size: 20px;
}

#submit-btn:hover {
    cursor: pointer;
    background-color: #93ebff;
}

.weather {
    display: flex;
    background-color: #eefbfe;
    border-radius: 10px;
    gap: 20px;
    padding: 10px 0px 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: 250px;
    align-items: center;
}

/* End of left section */

/* Start of center section */

#sort-by {
    width: 18%;
    height: 30px;
    margin: 25px 0px 5px 35px;
    border: #acf0ff 1px solid;
    border-radius: 10px;
    font-size: 12px;
    padding-left: 10px;
    background-color: #def9ff;
}

.center-section {
    flex: 2;
}

.activities {
    margin-top: 0px;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 83.5vh;
    border-radius: 10px;
}

.activities::-webkit-scrollbar {
    background-color: #eefbfe;
    border-radius: 10px;
    margin-left: 10px;
}

.activities::-webkit-scrollbar-thumb {
    background-color: #b1e6f1;
    border-radius: 10px;
    border: #eefbfe 3px solid;
    width: 50%;
}

.activity {
    display: flex;
    width: 97%;
    background-color: #eefbfe;
    border-radius: 20px;
    margin: 0px auto 20px auto;
}

.activity:last-child {
    margin-bottom: 0px;
}

#activity-img {
    width: 90%;
    border-radius: 20px;
    margin: 18px;
}

.activity-info {
    width: 65%;
}

.activity-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#activity-title {
    margin: 25px 0px 0px 5px;
}

#add-btn {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

#add-btn:hover {
    cursor: pointer;
}

.fa:hover {
    cursor: pointer;
}

.activity-list {
    display: flex;
    gap: 20px;
}

li {
    margin-bottom: 10px;
}

p {
    font-size: 17px;
    margin-left: 10px;
}
/* End of center section */

/* Start of right section */

.right-section {
    flex: 1;
    margin-right: 15px;
}

.budget {
    background-color: #eefbfe;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 25px;
    height: 87.5vh;
}

#current-budget {
    font-size: 35px;
    width: 65%;
    padding-top: 35px;
    margin: 0px auto 0px auto;
}

.chosen-activities {
    margin-top: 35px;
    margin: 35px auto 0px auto;
    height: 72%;
    width: 92%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chosen-activities::-webkit-scrollbar {
    background-color: #eefbfe;
    border-radius: 10px;
    margin-left: 10px;
}

.chosen-activities::-webkit-scrollbar-thumb {
    background-color: #b1e6f1;
    border-radius: 10px;
    border: #eefbfe 3px solid;
    width: 50%;
}

.chosen {
    display: flex;
    background-color: #dbf5ff;
    box-shadow: 0 0 5px rgba(93, 134, 155, 0.2);
    border-radius: 10px;
    margin: 10px;
}

#chosen-img {
    width: 150px;
    border-radius: 10px;
    margin: 10px;
}

.chosen-info {
    text-align: left;
}

.chosen-header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

#chosen-title {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

#chosen-detail {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.fa {
    font-size: 30px;
    margin: 0px 15px 0px 15px;
}

.fa:hover {
    cursor: pointer;
}

#chosen-desc {
    margin-left: 0px;
}

#btn-save {
    width: 40%;
    height: 40px;
    margin: 35px auto 40px auto;
    border: #acf0ff 1px solid;
    border-radius: 20px;
    background-color: #def9ff;
    font-size: 20px;
}

#btn-save:hover {
    cursor: pointer;
    background-color: #93ebff;
}

/* End of right section */