{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registration/register.css' %}">
    <link rel="icon" href="{% static 'images/result/Logo3.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Delius+Swash+Caps&family=DynaPuff:wght@400..700&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="navbar">
        <a id="nav-calendar" href="{% url 'home' %}">Home</a>
        <a id="nav-profile" href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'home' %}"><img id="nav-logo" src="{% static 'images/home/odyssey-title.png' %}"></a>
        <a href="{% url 'register' %}" id="nav-register">Register</a>
        <a href="{% url 'login' %}" id="nav-login">Login</a>
    </div>
    <div class="main-section">
        <div class="main-right">
            <div id="main-form">
                <img id="form-logo" src="{% static 'images/home/logo-clip.png' %}">
                {% if messages %}
                    {% for message in messages %}
                        <p class="error-message">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <form class="form-options" method="post">
                    {% csrf_token %}
                    <input type="text" id="email" name="email" placeholder="Email" required>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <button type="submit" class="register-btn">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>