<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
        <script src="{% static 'js/home.js' %}"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <script src="{% static 'home.js' %}"></script>
        <link rel="icon" href="{% static 'images/result/logo2.png' %}">
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Delius+Swash+Caps&family=DynaPuff:wght@400..700&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>Odyssey</title>
    </head>
    <body>
        <div class="navbar">
            <a href="index.html"><img id="nav-logo" src="{% static 'images/result/logo-lb.png' %}"></a>
            <a id="nav-profile" href="index.html">Profile</a>
            <a id="nav-calendar" href="index.html">Calendar</a>
            <span id="nav-title"><h1>Odyssey</h1></span>
            <span id="nav-register">Register</span>
            <span id="nav-login">Login</span>
        </div>
        <div class="main-section">
            <div class="main-right">
                <form id="main-form" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    {{form.non_field_errors}}
                    <img id="form-logo" src="{% static 'images/result/logo-lb.png' %}">
                    <div class="destination-container">
                        <input type="text" id="dropdown-countries" name="destination" placeholder="Travelling to" autocomplete="off">
                        {{form.destination.errors}}
                    </div>
                    <div class="budget-container">
                        <input type="text" id="budget-input" name="budget" placeholder="Input your budget" autocomplete="off">
                        {{form.budget.errors}}
                    </div>
                    <div class="date-input">
                        <input type="date" id="date-input" name="date_from">
                        {{form.date_from.errors}}
                        <input type="date" id="date-input" name="date_to">
                        {{form.date_from.errors}}
                    </div>
                    <button type="submit" id="form-search">Search</button>
                </form>
            </div>
        </div>
        <script>
            $(function () {
                $("#dropdown-countries").autocomplete({
                    source: "{% url 'autocomplete_cities' %}",  
                    minLength: 2,  
                });
            });
        </script>
    </body>
</html>