{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
        <script src="{% static 'js/home.js' %}"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <script src="{% static 'home.js' %}"></script>
        <link rel="icon" href="{% static 'images/result/logo2.png' %}">
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Delius+Swash+Caps&family=DynaPuff:wght@400..700&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>Odyssey</title>
    </head>
    <body>
        <div class="navbar">
            <a id="nav-profile" href="{% url 'profile' %}">Profile</a>
            <a id="nav-calendar" href="{% url 'calendar' %}">Calendar</a>
            <a href="{% url 'home' %}"><img id="nav-logo" src="{% static 'images/home/odyssey-title.png' %}"></a>
            {% if user.is_authenticated %}
                <h2 id="welcome">Welcome, {{ user.username }}</h2>
                <a id="nav-logout" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'register' %}" id="nav-register">Register</a>
                <a href="{% url 'login' %}" id="nav-login">Login</a>
            {% endif %}
        </div>
        <div class="main-section">
            <div class="main-right">
                <form id="main-form" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    {{form.non_field_errors}}
                    <img id="form-logo" src="{% static 'images/result/logo-lb.png' %}">
                    <!-- <div class="destination-container">
                        <input type="text" id="dropdown-countries" name="destination" placeholder="Travelling to" autocomplete="on" required>
                        {{form.destination.errors}}
                    </div> -->
                    <div id="dropdown-countries">
                        <div class="selected">Travelling to...</div>
                        <div class="options">
                            {% for activity in activities %}
                                <div class="option">{{ activity.country }} - {{ activity.city }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" name="city" id="selected_option" value="" required>
                    <input type="hidden" name="country" id="selected_option1" value="" required>
                    <div class="budget-container">
                        <input type="text" id="budget-input" name="budget" placeholder="Input your budget - £" autocomplete="off" required>
                        {{form.budget.errors}}
                    </div>
                    <div class="date-input">
                        <input type="date" id="date-input" name="date_from" required>
                        {{form.date_from.errors}}
                        <input type="date" id="date-input" name="date_to" required>
                        {{form.date_from.errors}}
                    </div>
                    <button type="submit" id="form-search">Search</button>
                </form>
            </div>
        </div>
        <script>
            // $(function () {
            //     $("#dropdown-countries").autocomplete({
            //         source: "{% url 'autocomplete_cities' %}",  
            //         minLength: 2,  
            //     });
            // });
        </script>
    </body>
</html>