<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
        <script src="{% static 'js/home.js' %}"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <script src="{% static 'home.js' %}"></script>
        <link rel="icon" href="{% static 'images/result/logo2.png' %}">
        <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Delius+Swash+Caps&family=DynaPuff:wght@400..700&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>Odyssey</title>
    </head>
    <body>
        <div class="navbar">
            <a id="nav-profile" href="{% url 'login' %}">Profile</a>
            <a id="nav-calendar" href="{% url 'login' %}">Calendar</a>
            <a href="{% url 'home' %}"><img id="nav-logo" src="{% static 'images/home/odyssey-title.png' %}"></a>
            {% if user.is_authenticated %}
                <h2 id="welcome">Welcome, {{ user.username }}</h2>
                <a id="nav-logout" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'register' %}" id="nav-register">Register</a>
                <a href="{% url 'login' %}" id="nav-login">Login</a>
            {% endif %}
        </div>
        <div class="main-section">
            <div class="main-right">
                <form id="main-form" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    {{form.non_field_errors}}
                    <img id="form-logo" src="{% static 'images/result/logo-lb.png' %}">
                    <div class="destination-container">
                        <input type="text" id="dropdown-countries" name="destination" placeholder="Travelling to" autocomplete="on">
                        {{form.destination.errors}}
                    </div>
                    <!-- <div class="destination-container">
                        <select id="dropdown-countries" name="destination">
                            <option value="-1" disabled selected>Travelling to</option>
                            <option value="abudhabi">UAE - Abu Dhabi</option>
                            <option value="capetown">South Africa - Cape Town</option>
                            <option value="melbourne">Austrailia - Melbourne</option>
                            <option value="venice">Italy - Venice</option>
                            <option value="riodejaneiro">Brazil - Rio de Janeiro</option>
                            <option value="beijing">China - Beijing</option>
                            <option value="madrid">Spain - Madrid</option>
                            <option value="moscow">Russia - Moscow</option>
                            <option value="berlin">Germany - Berlin</option>
                            <option value="cairo">Egypt - Cairo</option>
                            <option value="losangeles">USA - Los Angeles</option>
                            <option value="amsterdam">Netherlands - Amsterdam</option>
                            <option value="shanghai">China - Shanghai</option>
                            <option value="barcelona">Spain - Barcelona</option>
                            <option value="milan">Italy - Milan</option>
                            <option value="seoul">South Korea - Seoul</option>
                            <option value="tokyo">Japan - Tokyo</option>
                            <option value="istanbul">Turkey - Istanbul</option>
                            <option value="newyork">USA - New York</option>
                            <option value="singapore">Singapore - Singapore</option>
                            <option value="london">UK - London</option>
                            <option value="paris">France - Paris</option>
                            <option value="bangkok">Thailand - Bangkok</option>
                            {{form.destination.errors}}
                        </select>
                    </div> -->
                    <div class="budget-container">
                        <input type="text" id="budget-input" name="budget" placeholder="Input your budget" autocomplete="off">
                        {{form.budget.errors}}
                    </div>
                    <div class="date-input">
                        <input type="date" id="date-input" name="date_from">
                        {{form.date_from.errors}}
                        <input type="date" id="date-input" name="date_to">
                        {{form.date_from.errors}}
                    </div>
                    <button type="submit" id="form-search">Search</button>
                </form>
            </div>
        </div>
        <script>
            $(function () {
                $("#dropdown-countries").autocomplete({
                    source: "{% url 'autocomplete_cities' %}",  
                    minLength: 2,  
                });
            });
        </script>
    </body>
</html>